.navbar card{
    position: relative;
    font-size: 18px;
    color: black;
    font-weight: 500;
    margin-left: 40px;
}

.navbar card::before{
    content:'';
    background-color: black;
    position:absolute;
    width: 0;
    height: 2px;
    top: 100%;
    transition: .3s;
}

.navbar card:hover::before{
    width: 100%;
}